.HEALTHY {
    background-color: #669606;
}

.WARNING {
    background-color: #dea401;
}

.CRITICAL {
    background-color: #f05800;
}

.DOWN {
    background-color: #cc0000;
}

.label-lg {
    font-size: 48px;
}

div.dashboard {
    padding-left: 5px;
    padding-right: 5px;
}

.dashboard .label {
    font-size: 36px;
    height: 100px;
    margin-top: 10px;
    padding-top: 30px;
    border-radius: 2px;
}

.health_checks {
    font-size: 24px;
}

.health_checks .label {
    border-radius: 0px;
}

.service .heading {
    margin-left: 15px;
    padding-bottom: 5px;
}